<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Area Name</th>
      <th>Spots Available</th>
      <th>Max Volunteers</th>
    </tr>

    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>      
        <td><%= area.spotsavailable__c %></td>
        <td><%= area.maxvolunteers__c %></td>
      </tr>
    <% end %>
  </table>

</div>
