<div class="container">

  <h1> Areas that needs volunteers </h1> 
  <table class="table table-striped table-bordered">
    <tr>
      <th>Area Name</th>
      <th>Spots Available</th>
      <th>Max Volunteers</th>
      <th></th>
    </tr>

    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>      
        <td><%= area.spotsavailable__c %></td>
        <td><%= area.maxvolunteers__c %></td>
        <td><button onclick="alert(area);">Test</button> </td>
      </tr>    
    <% end %>
  </table>

</div>
