<div class="jumbotron text-center">
  <div class="container">
    <h1>Michel Traub Demo for Traction on Demand</h1>
    <p><b>Manage your volunteer areas!</b><p>
    <p>This application connects to salesforce and allows you to see the areas that needs volunteers and who is working in each areas.</p>
    <a type="button" class="btn btn-lg btn-default" href="/areas"><span class="glyphicon glyphicon-leaf"></span> Volunteer Areas</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/micheltraub/no-local-dev-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
