<div class="container">

  <h1> Volunteers </h1> 
  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Area</th>
    </tr>

    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.name %></td>      
        <td><%= volunteer.volunteerarea__c %></td>
      </tr>
    <% end %>
  </table>

</div>
